/* WEML w-note-body styles */


:where(w-note-body, .w-note-body) {
  --weml-w-note-body-background-color: #CCCCCCA5;
}

w-note-body, .w-note-body {
  text-indent: 0;
  padding: 5px;
  background: var(--weml-w-note-body-background-color);
  outline: 1px solid var(--weml-w-note-body-background-color);
  border-radius: 2px;
  width: initial;
  word-wrap: anywhere;
  word-spacing: normal;
  overflow: auto;
  right: 0;
  top: 1em;
}

w-note-body {
  display: none;
}

w-note:hover w-note-body {
  display: block;
}

@media (prefers-color-scheme: dark) {
  :where(w-note-body, .w-note-body) {
    --weml-w-note-body-background-color: #5353537F;
  }
}
