/* WEML Image styles */

figure {
  margin: 1em auto;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  img {
    width: auto;
    height: auto;
    max-width: 50vw;
  }
  figcaption {
    font-size: 0.8em;
    opacity: 0.8;
  }
}
