/* WEML w-note-body styles */

$weml-w-note-body-background-color: rgba(180, 180, 180, 0.25);
$weml-w-note-body-border-color: rgba(180, 180, 180, 0.25);

w-note-body, .w-note-body {
  padding: 5px;
  background: $weml-w-note-body-background-color;
  outline: 1px solid $weml-w-note-body-border-color;
  border-radius: 2px;
  width: initial;
  word-wrap: anywhere;
  word-spacing: normal;
  overflow: auto;
  right: 0;
  top: 1em;
}

w-note-body {
  display: none;
}

w-note:hover w-note-body {
  display: block;
}
