/* WEML W-Para styles */

w-para {
  display: block;

  &[align="right"] {
    text-align: right;
  }

  &[align="center"] {
    text-align: center;
  }

  &[align="left"] {
    text-align: left;
  }

  &[skip] {
    opacity: 0.4;
  }
}
