/* WEML W-Non-Egw elements */

$weml-w-non-egw-text-color: #63C0F5;
$weml-w-non-egw-after-background-color: rgba(180, 180, 180, 0.9);
$weml-w-non-egw-after-border-color: rgba(88, 88, 88, 0.25);
$weml-w-non-egw-after-text-color: #000;

w-non-egw {
  position: relative;
  color: $weml-w-non-egw-text-color;

  //&[type]:hover::after, {
  //  text-indent: 0;
  //  position: absolute;
  //  color: $weml-w-non-egw-after-text-color;
  //  left: 0;
  //  top: -1em;
  //  white-space: nowrap;
  //  background: $weml-w-non-egw-after-background-color;
  //  padding: 0 0.1em;
  //  border-radius: 2px;
  //  border-left: 1px solid;
  //  border-right: 1px solid;
  //  content: attr(type);
  //}

  &[type]::after {
    text-indent: 0;
    content: '['attr(type)']';
  }
}

