/* WEML W-List styles */

w-li {
  display: list-item;
  counter-increment: lis;
}

w-list {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
  margin: 1em 0;
  padding-left: 40px;
  list-style-type: disc;

  &[type="ordered"] {
    list-style-type: none;
    counter-reset: lis var(--wlist-start-value, 0);
    w-li {
      &::marker {
        content: counter(lis)". ";
      }
    }
    &[marker="1"] {
      w-li {
        &::marker {
          content: counter(lis)". ";
        }
      }
    }

    &[marker="A"] {
      w-li {
        &::marker {
          content: counter(lis, upper-alpha)". ";
        }
      }
    }
    &[marker="a"] {
       w-li {
         &::marker {
           content: counter(lis, lower-alpha)". ";
         }
       }
     }
    &[marker="I"] {
      w-li {
        &::marker {
          content: counter(lis, upper-roman)". ";
        }
      }
    }
    &[marker="i"] {
      w-li {
        &::marker {
          content: counter(lis, lower-roman)". ";
        }
      }
    }
  }
  &[type="unordered"] {
    list-style-type: disc;
  }
}
