/* WEML W-Page styles */

:where(w-page) {
  --weml-w-page-before-background-color: #CCCCCCA5;
}

w-page {
  display: inline-block;
  text-indent: 0;
  line-height: initial;
  position: relative;
  &::after {
    margin: 0 5px;
    padding: 0 5px;
    background: var(--weml-w-page-before-background-color);
    outline: 1px solid var(--weml-w-page-before-background-color);
    border-radius: 2px;
    text-indent: 0;
    line-height: unset;
    white-space: nowrap;
    content: attr(number) !important;
  }
}

w-page:not(w-text-block w-page) {
  display: flex;
  margin: 5px;
  &::after {
    margin: 0 auto;
  }
}

@media (prefers-color-scheme: dark) {
  :where(w-page) {
    --weml-w-page-before-background-color: #5353537F;
  }
}
