/* WEML W-Entity elements */

$weml-w-entity-text-color: #F00F;
$weml-w-entity-after-background-color: #dbdbdb;
$weml-w-entity-after-border-color: rgba(88, 88, 88, 0.25);

w-entity {
  color: $weml-w-entity-text-color;
  position: relative;
}

w-entity[value]:hover::after {
  text-indent: 0;
  position: absolute;
  left: 0;
  top: -1em;
  white-space: nowrap;
  background: $weml-w-entity-after-background-color;
  padding: 0 0.1em;
  content: "[" attr(value) "]";
}
