/* WEML W-Entity elements */

$weml-w-entity-text-color: #F00F;
$weml-w-entity-after-background-color: rgba(180, 180, 180, 0.9);
$weml-w-entity-after-border-color: rgba(88, 88, 88, 0.25);
$weml-w-entity-after-text-color: #000;

w-entity {
  color: $weml-w-entity-text-color;
  position: relative;

  &[value]:hover::after {
    text-indent: 0;
    position: absolute;
    color: $weml-w-entity-after-text-color;
    left: 0;
    top: -1em;
    white-space: nowrap;
    background: $weml-w-entity-after-background-color;
    padding: 0 0.1em;
    border-radius: 2px;
    border-left: 1px solid;
    border-right: 1px solid;
    content: attr(value);
  }
}
