/* WEML w-text-block styles */

$weml-paragraph-indent-size: 1.5em;
$weml-paragraph-blockquote-border-color: #808080FF;


w-text-block {
  display: block;
  &[type="blockquote"] {
    border-left: 3px solid $weml-paragraph-blockquote-border-color;
    padding-left: 3px;
  }
}


w-para {
 > w-text-block {
    margin: 1em 0;
    text-indent: calc(#{$weml-paragraph-indent-size} * 1);

    &[type="paragraph"] {
      text-indent: calc(#{$weml-paragraph-indent-size} * 1);
    }

    &[type="blockquote"] {
      margin-left: calc(#{$weml-paragraph-indent-size} * 1);
    }

    &[type="poem"] {
      margin-left: calc(#{$weml-paragraph-indent-size} * 1);
    }
  }

  &[indent="0"] {
    > w-text-block {
      &[type="paragraph"] {
        text-indent: calc(#{$weml-paragraph-indent-size} * 0);
      }

      &[type="blockquote"] {
        text-indent: calc(#{$weml-paragraph-indent-size} * 0);
        margin-left: calc(#{$weml-paragraph-indent-size} * 0);
      }

      &[type="poem"] {
        text-indent: calc(#{$weml-paragraph-indent-size} * 0);
        margin-left: calc(#{$weml-paragraph-indent-size} * 0);
      }
    }
  }

  &[indent="1"] {
    > w-text-block {
      &[type="paragraph"] {
        text-indent: calc(#{$weml-paragraph-indent-size} * 1);
      }

      &[type="blockquote"] {
        text-indent: calc(#{$weml-paragraph-indent-size} * 1);
        margin-left: calc(#{$weml-paragraph-indent-size} * 1);
      }

      &[type="poem"] {
        text-indent: calc(#{$weml-paragraph-indent-size} * 1);
        margin-left: calc(#{$weml-paragraph-indent-size} * 1);
      }
    }
  }

  &[indent="2"] {
    > w-text-block {
      &[type="paragraph"] {
        text-indent: calc(#{$weml-paragraph-indent-size} * 2);
      }

      &[type="blockquote"] {
        text-indent: calc(#{$weml-paragraph-indent-size} * 2);
        margin-left: calc(#{$weml-paragraph-indent-size} * 2);
      }

      &[type="poem"] {
        text-indent: calc(#{$weml-paragraph-indent-size} * 2);
        margin-left: calc(#{$weml-paragraph-indent-size} * 2);
      }
    }
  }

  &[indent="3"] {
    > w-text-block {

      &[type="paragraph"] {
        text-indent: calc(#{$weml-paragraph-indent-size} * 3);
      }

      &[type="blockquote"] {
        text-indent: calc(#{$weml-paragraph-indent-size} * 3);
        margin-left: calc(#{$weml-paragraph-indent-size} * 3);
      }

      &[type="poem"] {
        text-indent: calc(#{$weml-paragraph-indent-size} * 3);
        margin-left: calc(#{$weml-paragraph-indent-size} * 3);
      }
    }
  }

  &[indent="4"] {
    > w-text-block {

      &[type="paragraph"] {
        text-indent: calc(#{$weml-paragraph-indent-size} * 4);
      }

      &[type="blockquote"] {
        text-indent: calc(#{$weml-paragraph-indent-size} * 4);
        margin-left: calc(#{$weml-paragraph-indent-size} * 4);
      }

      &[type="poem"] {
        text-indent: calc(#{$weml-paragraph-indent-size} * 4);
        margin-left: calc(#{$weml-paragraph-indent-size} * 4);
      }
    }
  }

  &[indent="5"] {
    > w-text-block {

      &[type="paragraph"] {
        text-indent: calc(#{$weml-paragraph-indent-size} * 5);
      }

      &[type="blockquote"] {
        text-indent: calc(#{$weml-paragraph-indent-size} * 5);
        margin-left: calc(#{$weml-paragraph-indent-size} * 5);
      }

      &[type="poem"] {
        text-indent: calc(#{$weml-paragraph-indent-size} * 5);
        margin-left: calc(#{$weml-paragraph-indent-size} * 5);
      }
    }
  }

  &[indent="6"] {
    > w-text-block {

      &[type="paragraph"] {
        text-indent: calc(#{$weml-paragraph-indent-size} * 6);
      }

      &[type="blockquote"] {
        text-indent: calc(#{$weml-paragraph-indent-size} * 6);
        margin-left: calc(#{$weml-paragraph-indent-size} * 6);
      }

      &[type="poem"] {
        text-indent: calc(#{$weml-paragraph-indent-size} * 6);
        margin-left: calc(#{$weml-paragraph-indent-size} * 6);
      }
    }
  }

  &[indent="7"] {
    > w-text-block {

      &[type="paragraph"] {
        text-indent: calc(#{$weml-paragraph-indent-size} * 7);
      }

      &[type="blockquote"] {
        text-indent: calc(#{$weml-paragraph-indent-size} * 7);
        margin-left: calc(#{$weml-paragraph-indent-size} * 7);
      }

      &[type="poem"] {
        text-indent: calc(#{$weml-paragraph-indent-size} * 7);
        margin-left: calc(#{$weml-paragraph-indent-size} * 7);
      }
    }
  }
}


//w-text-block {
//
//  /* blockquote */
//  //text-indent: $weml-paragraph-indent-size;
//  &[type="blockquote"] {
//
//    //&[indent="1"] {
//    //  margin-left: calc(#{$weml-paragraph-indent-size} * 1);
//    //}
//    //
//    //&[indent="2"] {
//    //  margin-left: calc(#{$weml-paragraph-indent-size} * 2);
//    //}
//    //
//    //&[indent="3"] {
//    //  margin-left: calc(#{$weml-paragraph-indent-size} * 3);
//    //}
//    //
//    //&[indent="4"] {
//    //  margin-left: calc(#{$weml-paragraph-indent-size} * 4);
//    //}
//    //
//    //&[indent="5"] {
//    //  margin-left: calc(#{$weml-paragraph-indent-size} * 5);
//    //}
//    //
//    //&[indent="6"] {
//    //  margin-left: calc(#{$weml-paragraph-indent-size} * 6);
//    //}
//    //
//    //&[indent="7"] {
//    //  margin-left: calc(#{$weml-paragraph-indent-size} * 7);
//    //}
//  }
//
//  /* poem */
//  &[type="poem"] {
//    //padding-left: $weml-paragraph-indent-size;
//    //
//    //&[indent="1"] {
//    //  padding-left: calc(#{$weml-paragraph-indent-size} * 1);
//    //}
//    //
//    //&[indent="2"] {
//    //  padding-left: calc(#{$weml-paragraph-indent-size} * 2);
//    //}
//    //
//    //&[indent="3"] {
//    //  padding-left: calc(#{$weml-paragraph-indent-size} * 3);
//    //}
//    //
//    //&[indent="4"] {
//    //  padding-left: calc(#{$weml-paragraph-indent-size} * 4);
//    //}
//    //
//    //&[indent="5"] {
//    //  padding-left: calc(#{$weml-paragraph-indent-size} * 5);
//    //}
//    //
//    //&[indent="6"] {
//    //  padding-left: calc(#{$weml-paragraph-indent-size} * 6);
//    //}
//    //
//    //&[indent="7"] {
//    //  padding-left: calc(#{$weml-paragraph-indent-size} * 7);
//    //}
//  }
//
//  /* paragraph  */
//  &[type="paragraph"] {
//    text-indent: $weml-paragraph-indent-size;
//    //
//    //&[indent="1"] {
//    //  text-indent: calc(#{$weml-paragraph-indent-size} * 1);
//    //}
//    //
//    //&[indent="2"] {
//    //  text-indent: calc(#{$weml-paragraph-indent-size} * 2);
//    //}
//    //
//    //&[indent="3"] {
//    //  text-indent: calc(#{$weml-paragraph-indent-size} * 3);
//    //}
//    //
//    //&[indent="4"] {
//    //  text-indent: calc(#{$weml-paragraph-indent-size} * 4);
//    //}
//    //
//    //&[indent="5"] {
//    //  text-indent: calc(#{$weml-paragraph-indent-size} * 5);
//    //}
//    //
//    //&[indent="6"] {
//    //  text-indent: calc(#{$weml-paragraph-indent-size} * 6);
//    //}
//    //
//    //&[indent="7"] {
//    //  text-indent: calc(#{$weml-paragraph-indent-size} * 7);
//  }
//}
